{% comment %}
  Renders product buy-buttons.
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} product form id.
  - section_id: {String} id of section to which this snippet belongs.
  - show_pickup_availability: {Boolean} for the pickup availability. If true the pickup availability is rendered, false - not rendered (optional).

  Usage:
  {% render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true %}
{% endcomment %}
<style>
  .ffproductform {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 48px;
  }
  .ffbuybutton {
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    font-size: 20px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .ffbuttonborder {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #1f326a;
    border-bottom: 3px solid #1f326a;
    height: 48px;
    width: 100%;
    background: #1f326a;
  }
  .fflight {
    height: 100%;
  }
  .ffquantity {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
  }
  .ffqtybuy {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  .ffbtnreset {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .ffqtybtn {
    color: white;
    text-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 100%;
  }
  .ffqtyinput {
    color: white;
    border: none;
    background-image: none;
    text-align: center;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 100%;
  }
  .ffqtyinput::-webkit-outer-spin-button,
  .ffqtyinput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .ffqtyinput[type='number'] {
    -moz-appearance: textfield;
  }

  .ffqtywhole {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .ffbg {
    background: #1f326a;
  }
  .ffqtymidflex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .ffform {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 440px;
  }
</style>

<div>
  <product-form
    class="ffproductform"
    data-hide-errors="{{ gift_card_recipient_feature_active }}"
    data-section-id="{{ section.id }}"
  >
    <div class="product-form__error-message-wrapper" role="alert" hidden>
      <svg
        aria-hidden="true"
        focusable="false"
        class="icon icon-error"
        viewBox="0 0 13 13"
      >
        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
        <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
      </svg>
      <span class="product-form__error-message"></span>
    </div>

    {%- form 'product',
      product,
      id: product_form_id,
      class: 'ffform',
      novalidate: 'novalidate',
      data-type: 'add-to-cart-form'
    -%}
      <input
        type="hidden"
        name="id"
        value="{{ product.selected_or_first_available_variant.id }}"
        {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
          disabled
        {% endif %}
        class="product-variant-id"
      >
      <div class="ffqtybuy">
        {%- liquid
          assign check_against_inventory = true
          if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
            assign check_against_inventory = false
          endif
          if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
            assign quantity_rule_soldout = true
          endif
        -%}
        <div
          id="Quantity-Form-{{ section.id }}"
          class=""
          {{ block.shopify_attributes }}
        >
          <div class="ffquantity">
            <quantity-input class="ffqtywhole" data-url="{{ product.url }}" data-section="{{ section.id }}">
              <div class="fflight">
                <svg width="21" height="48" viewBox="0 0 21 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 -7.86805e-07L2.09815e-06 24L12 24L0 48L21 48L21 0L12 -7.86805e-07Z" fill="#1F326A"/>
                </svg>
              </div>
              <div class="ffbg ffqtymidflex">
                <button class="no-js-hidden ffbtnreset ffqtybtn" name="minus" type="button">
                  <span class="visually-hidden">
                    {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                  </span>
                  -
                </button>
                <input
                  class="ffqtyinput"
                  type="number"
                  name="quantity"
                  id="Quantity-{{ section.id }}"
                  data-cart-quantity="{{ cart_qty }}"
                  data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                  min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                  {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                    data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                    max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                  {% endif %}
                  step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                  value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                  form="{{ product_form_id }}"
                >
                <button class="no-js-hidden ffbtnreset ffqtybtn" name="plus" type="button">
                  <span class="visually-hidden">
                    {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                  </span>
                  +
                </button>
              </div>
              <div class="fflight">
                <svg width="21" height="48" viewBox="0 0 21 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 48L21 24H9L21 0H0V48H9Z" fill="#1F326A"/>
                </svg>
              </div>
            </quantity-input>
          </div>
        </div>
        <button
          id="ProductSubmitButton-{{ section_id }}"
          type="submit"
          name="add"
          class="ffbuybutton"
          {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
            disabled
          {% endif %}
        >
          <div class="fflight">
            <svg width="21" height="48" viewBox="0 0 21 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 -7.86805e-07L2.09815e-06 24L12 24L0 48L21 48L21 0L12 -7.86805e-07Z" fill="#1F326A"/>
            </svg>
          </div>

          <div class="ffbuttonborder">
            {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
              {{ 'products.product.sold_out' | t }}
            {%- else -%}
              {{ 'products.product.add_to_cart' | t }}
            {%- endif -%}
          </div>

          <div class="fflight">
            <svg width="21" height="48" viewBox="0 0 21 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 48L21 24H9L21 0H0V48H9Z" fill="#1F326A"/>
            </svg>
          </div>

          {%- render 'loading-spinner' -%}
        </button>
      </div>
    {%- endform -%}
  </product-form>
</div>
