{%- style -%}
  :root {
    --anff-banner-offset: -2000px;
  }
  /* Photo Banner */
  .anffcontainer {
    width: 100%;
    overflow: hidden;
    font-family: 'Rhino85';
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    height: 36px;
    padding: 8px 0;
  }

  .anphotobanner {
    height: 36px;
    width: 9000px;
  }

  .anffblock {
    margin-left: 4px;
    display: inline-block;
    align-items: center;
  }

  .anfftextflex {
    display: flex;
    flex-shrink: 0;
  }

  .anphotobanner div {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  /*keyframe animations*/
  .anffleft {
    -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
    -ms-animation: bannermove 30s linear infinite;
    -o-animation: bannermove 30s linear infinite;
    animation: bannermove 30s linear infinite;
  }

  @keyframes "anbannermove" {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: var(--anff-banner-offset);
    }
  }

  @-moz-keyframes anbannermove {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: var(--anff-banner-offset);
    }
  }

  @-webkit-keyframes "anbannermove" {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: var(--anff-banner-offset);
    }
  }

  @-ms-keyframes "anbannermove" {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: var(--anff-banner-offset);
    }
  }

  @-o-keyframes "anbannermove" {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: var(--anff-banner-offset);
    }
  }

  .anffright {
    -webkit-animation: anbannermoves 30s linear infinite;
    -moz-animation: anbannermoves 30s linear infinite;
    -ms-animation: anbannermoves 30s linear infinite;
    -o-animation: vbannermoves 30s linear infinite;
    animation: anbannermoves 30s linear infinite;
  }

  @keyframes "anbannermoves" {
    0% {
      margin-left: var(--anff-banner-offset);
    }
    100% {
      margin-left: 0px;
    }
  }

  @-moz-keyframes anbannermoves {
    0% {
      margin-left: var(--anff-banner-offset);
    }
    100% {
      margin-left: 0px;
    }
  }

  @-webkit-keyframes "anbannermoves" {
    0% {
      margin-left: var(--anff-banner-offset);
    }
    100% {
      margin-left: 0px;
    }
  }

  @-ms-keyframes "anbannermoves" {
    0% {
      margin-left: var(--anff-banner-offset);
    }
    100% {
      margin-left: 0px;
    }
  }

  @-o-keyframes "anbannermoves" {
    0% {
      margin-left: var(--anff-banner-offset);
    }
    100% {
      margin-left: 0px;
    }
  }

  .anffflexins {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
{%- endstyle -%}

<div
  class="utility-bar"
  {{ block.shopify_attributes }}
  style="background-color: {{ section.settings.background_color }}; color: {{ section.settings.text_color }};"
>
  <div class="anffcontainer">
    <div class="anphotobanner">
      {% for block in section.blocks %}
        <div class="anffblock {% if section.settings.direction == 'left' and forloop.first %}ffleft{% elsif forloop.first and section.settings.direction == 'right' %}ffright{% endif %}">
          <div class="anffflexins">
            <div class="anfftextflex">
              {{ block.settings.text }}
            </div>
            <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.59474 9.84463C7.97629 16.1589 6.7766 16.3628 6.35406 15.7926C5.80703 15.0599 6.48233 10.649 5.78062 9.93149C5.07514 9.21018 2.46449 11.5554 1.51379 10.9511C0.566866 10.3469 0.19715 5.14672 0.808314 2.66559C1.15162 1.25697 5.18455 -0.389565 5.64104 0.0824918C6.39179 0.841559 3.96977 5.28267 4.72429 6.21546C5.13551 6.71772 8.19887 4.95034 8.81758 4.78418C9.43629 4.61424 11.2094 3.53795 9.59097 9.8484L9.59474 9.84463Z" fill="currentColor"/>
            </svg>
          </div>
        </div>
      {% endfor %}
      {% for i in (1..25) %}
        {% for block in section.blocks %}
          <div class="anffblock">
            <div class="anffflexins">
              <div class="anfftextflex">
                {{ block.settings.text }}
              </div>
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.59474 9.84463C7.97629 16.1589 6.7766 16.3628 6.35406 15.7926C5.80703 15.0599 6.48233 10.649 5.78062 9.93149C5.07514 9.21018 2.46449 11.5554 1.51379 10.9511C0.566866 10.3469 0.19715 5.14672 0.808314 2.66559C1.15162 1.25697 5.18455 -0.389565 5.64104 0.0824918C6.39179 0.841559 3.96977 5.28267 4.72429 6.21546C5.13551 6.71772 8.19887 4.95034 8.81758 4.78418C9.43629 4.61424 11.2094 3.53795 9.59097 9.8484L9.59474 9.84463Z" fill="currentColor"/>
              </svg>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "select",
      "id": "direction",
      "label": "Direction",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Left"
        }
      ],
      "default": "left"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#1F326A"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#FFFFFF"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Free shipping on all orders",
          "label": "Announcement text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
